
button{
  display: none;
}
form{
  margin-top: 2em;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: .5em;
  height: 8em;

}

mat-form-field {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100% !important;
  color: #424B54 !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {

  color: #424B54 !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {

  font-weight: bold;
  color: #424B54 !important;
}
::ng-deep .mat-input-element {
  caret-color: #424B54!important;

}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}


.display{
  display: flex;
}

.input{
  padding-top: 2.5em;
  margin: 0 auto;
  width: 95%;
}

.nominating-result{
  margin-top: 2em;
  background-color: #FFFFFF;
  border-radius: .5em;

}
.nominate{
  padding: 2em;
  padding-bottom: 2em;
}
ul{
  list-style-type:disk  !important;
}
