

<div class="container">

<div class="row">

<div class="col-sm-12">


<form   novalidate>
  <div class="form-group" >

<div class="input" >

<mat-form-field class="title" appearance="outline" color ="warn">

<mat-label>
  Movie Title
</mat-label>
     <input matInput  #input  name="searchTerm"   id="searchTerm" type="search"   />

     <mat-icon matPrefix>search</mat-icon>

    </mat-form-field>
     <span >
      <button type="submit"class="btn btn-primary" (click)="searchMovies(input.value)">search</button>
     </span>
    </div>
    </div>

</form>
</div>
<div>

</div>
</div>
<div class="row">

<section class="col-md-6">
  <div class="nominating-result">



<div class="nominate">

<h4 > Results for "{{input.value}}"</h4>
<mat-spinner *ngIf="showSpinner">

</mat-spinner>
  <div class="display" *ngFor='let movie of movieList.Search'>

<app-results class="m-2"  [data]="movie"></app-results>
<app-nominatingbutton  class="m-2" (click)="nominate(movie)"></app-nominatingbutton>
  </div>

</div>
</div>
</section>
<section class="col-md-6">
  <div class="nominating-result">
    <div class="nominate">


<h4>Nominations</h4>
<div >


<app-nominatingresults  [data]="nominations"   ></app-nominatingresults>
</div>
</div>
</div>
</section>
</div>


</div>
